@{
    var controller = ViewContext.RouteData.Values["controller"]?
    .ToString()?
    .ToLower()
    ?? String.Empty;
}

<a class="navbar-brand" asp-action="index" asp-controller="home">KlepikovEvgeniy</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-action="index" asp-controller="home">Лб 1</a>
    <a class="nav-item nav-link" asp-action="index" asp-controller="product">Каталог</a>
    <a class="nav-item nav-link" asp-area="admin" asp-page="/index">Администрирование</a>
</div>
